body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
  
.nav {
    height: 55px;
    width: 100%;
    background-color:#fd472d;
    position: fixed;
}
  
.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}


.button{
    text-decoration: none;
    background: linear-gradient(90deg , #fc8f49, #fe482d);
    padding: 15px 30px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    box-shadow: 5px 0px 10px #fe482d;
}

.button:hover{
    box-shadow: 5px 0px 20px #fe482d;
}

.button-margin{
    padding-top: 20px;
}

.orange-text{
color:#fd472d;
}

h1{
    color: gray;
    font-weight: 800;
    font-size: 300%;
    margin: 0%;
}

h3{
    color: gray;
}

.common-section{
    display: flex;
}

.common-div{
    padding: 5%;
}

#first-section{
    padding-top: 5%;
}

#first-section img{
    width: 100%;
}

#second-section img{
    width: 80%;
}

.text-div{
    margin-top: 10%;
}

#second-section{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#text-pad{
    padding-left: 10%;
}
.middle-align{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#third-section{
    padding-left: 8%;
    padding-right: 8%;
}

.card {
    box-shadow: 0 4px 40px rgba(0,0,0,0.3);
    width: 26%;
    border-radius: 7%;
    margin-right: 4%;
    margin-left: 4%;
  }
  
  .card:hover {
    box-shadow: 0 8px 50px rgba(0,0,0,0.5);
  }
  
  #third-section > .card > img {
    border-radius: 7%;
    width: 80%;
    height: 60%;
  }
  
  .container {
    padding: 2px 16px;
  }

  #forth-section-div{
    display: flex;
    margin: 5% 10%;
    border-radius: 5%;
    box-shadow: 0 8px 50px rgba(0,0,0,0.5);
  }
  
  #forth-section-div > div{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  #forth-section-div > div > h2{
    font-size: 200%;
    font-weight: 700;
  }
  